<h1>Comunicación entre componentes. Input - Output</h1>
<!-- <app-sugus></app-sugus>
<app-sugus color="orange" sabor="Naranja"></app-sugus>
<app-sugus color="blue" sabor="Piña"></app-sugus>
<app-sugus color="red" sabor="Fresa"></app-sugus>
<app-producto
    img="http://1.bp.blogspot.com/-p5JKVzHrag0/U0VhwDoA53I/AAAAAAAAC7g/3wxZ3GEw9kE/s1600/patata+2.png"
    nombre="patata"
    descripcion="es una patata">
</app-producto>
<app-producto img="https://okdiario.com/img/recetas/2016/09/18/lechuga-boston.jpg" nombre="lechuga"
    descripcion="es una lechuga"></app-producto>
<app-producto img="https://www.elhuertodelabuelo.es/37-large_default/tomate-cana-andaluz.jpg" nombre="tomate"
    descripcion="es un tomate"></app-producto> -->
<!-- <app-anakin></app-anakin> -->
<app-mi-boton
    textoBtn="Alert"
    [handleClick]="fnAlert">
</app-mi-boton>

<app-mi-boton
    textoBtn="Console log"
    [handleClick]="fnConsoleLog"> <!-- pasamos una referencia a una función como si fuese un parámetro-->
</app-mi-boton>