<form method="POST">
<div>
    <label for="nombre">Nombre: </label>
    <input type="text" id="nombre" name="nombre" #iNombre>
</div>

<div>
    <label for="apellidos">Apellidos: </label>
    <input type="text" id="apellidos" name="apellidos" #iApellidos>
</div>

<div>
    <label for="email">Email: </label>
    <input type="email" id="email" name="email" #iEmail>
</div>

<div>
    <button type="button" (click)="enviarDatos(iNombre.value,iApellidos.value,iEmail.value)">Preview</button>
</div>
</form>


<div [hidden]="ocultarDatos">
    <h2>CV de {{usuario.nombre}} {{usuario.apellidos}}</h2>
    <p>... email: {{usuario.email}}</p>
</div>