<h1>Directivas</h1>
<p>Componentes sin plantilla (sin HTML ni CSS)</p>
<p>Pueden ser: </p>
<p>Estructurales: cambian estructura página</p>
<p>Atributo: añaden funcionalidades a las etiquetas que ya tenemos</p>

<hr>
<h3>De atributo</h3>
<!-- <p [ngStyle]="{'text-decoration': 'underline'}">El texto subrayado y de color naranja</p> -->
<p [ngStyle]="getStyles()">El texto subrayado y de color naranja</p>
Estilos dinámicos:<input type="color" [(ngModel)]="colorLetra">
<p [ngClass]="getClases()">El texto de color rojo con fondo amarillo</p>
<button type="button" (click)="toggleFondo()">Fondo</button>

<hr>
<h3>Estructurales</h3>

<h5>*ngIf</h5><!--
<button *ngIf="darkMode" type="button" 
    (click)="activaLightMode()">🌛</button>
<button *ngIf="!darkMode" type="button" 
    (click)="activaDarkMode()">🌞</button> -->

<p>Else:</p>

<!-- <button *ngIf="!darkMode; else lightModeBtn" type="button" 
    (click)="activaDarkMode()">🌞</button>

<ng-template #darkModeBtn>
    <button type="button" 
        (click)="activaLightMode()">🌛</button>
</ng-template> -->

<p>Template</p>

<ng-container *ngIf="darkMode; then darkModeBtn else lightModeBtn">

</ng-container>

<ng-template #lightModeBtn>
    <button type="button" 
        (click)="activaDarkMode()">🌞</button>
</ng-template>

<ng-template #darkModeBtn>
    <button type="button" 
        (click)="activaLightMode()">🌛</button>
</ng-template>

<hr>

<h5>*ngFor</h5>
<ul>
    <li *ngFor="let animal of animales; 
                    let i = index; 
                    let isLast = last;
                    let isFirst = first;
                    trackBy: trackByAnimales">
        <!-- trackBy: añade los nuevos componentes,
        en lugar de cargar la lista entera de nuevo
        Es útil ponerlo cuando las listas son 
        modificables-->
        <hr *ngIf="isFirst">
        <p>{{i+1}} - {{ animal | titlecase }}</p>
        <hr *ngIf="isLast"> 
    </li>
</ul>

<ul>
    <li *ngFor="let animal of animales2;
                    trackBy: trackByAnimales2">
        <span>{{animal.id}} - {{animal.tipo | titlecase}}</span>
    </li>
</ul>
<hr>
<div [ngSwitch]="colorLetra">
    <p *ngSwitchCase="'orange'">La letra naranja</p>
    <p *ngSwitchCase="'blue'">La letra azul</p>
    <p *ngSwitchCase="'red'">La letra roja</p>
    <p *ngSwitchDefault>La letra negra</p>
</div>
<h5>switch y for</h5>
<div [ngSwitch]="colorLetra">
    <!-- NO FUNCIONA! <p *ngFor="let color of colores" *ngSwitchCase="color">La letra naranja</p> -->
    <ng-container *ngFor="let color of colores">
        <p *ngSwitchCase="color">La letra {{color}}</p>
    </ng-container>
    <!--
        Como no se pueden poner las 2 directivas juntas
        creamos un ng-container, que es un componente
        que no se pinta, y metemos dentro el p
    -->
</div>

<hr>

<h5>Directivas propias</h5>
<p appMarcar color="yellow">directiva marcar</p>
        <!-- en este caso no funciona porque la propiedad
        color tiene el alias appMarcar -->
<p appMarcar="green">directiva marcar</p>
<p [appMarcar]="colorLetra">directiva marcar</p>
<!--cuando ponemos corchetes, angular busca una
propiedad que se llame colorLetra y pasa su valor.
cuando no los ponemos, angular pasa directamente
el valor "colorLetra"-->
<p appMarcar>directiva marcar</p>

<hr>

<h5>Powermode</h5>
<input type="text" powerMode>