<h2>Data Binding</h2>

<hr>

<h3>String Interpolation</h3>
<p>Me llamo {{ nombre | uppercase }}</p>
<p>Hola {{ nombre != '' ? nombre : 'Mundo'}}</p>
<p>{{getSaludo('Arya')}}</p><!-- NO RECOMENDABLE -->

<hr>

<h3>Property Binding</h3>
<input type="text" [value]="nombre" [disabled]="deshabilitado"><!-- MAL: value="{{nombre}}"-->
<p [style.color]="'blue'">Cambiando color</p>

<hr>

<h3>Event Binding</h3>
<button type="button" (click)="muestraMensaje('mensaje', $event)">Muestra mensaje</button>
<br>
<button type="button" (click)="canta()">Canta la intro de Batman</button>

<app-eventos></app-eventos>

<hr>

<h3>Two Way Data Binding</h3>

<input type="text" [(ngModel)]="nombre">
<button type="button" (click)="resetearNombre()">Resetear nombre</button>
<br>
<input type="text" [(ngModel)]="persona.nombre">
<input type="text" [(ngModel)]="persona.apellido">
<p>{{persona.nombre}} {{persona.apellido}}</p>


<hr>
Replicar ngModel con código:
<hr>
                                    <!-- también vale evento keyup -->
<input type="text" [value]="texto" (input)="modificarInputTexto($event)">

<p>Mostrando el contenido del imput texto:</p>
<p>{{texto}}</p>

<hr>

<h3>Variables de plantilla</h3>
<input type="text" #input1>
<button type="button" (click)="muestraMensaje(input1.value, $event)">Mostrar texto input</button>

